<nav class="navbar navbar-dark">
    <a href='/activities' class='nav-image'><%= image_tag('volume.png') %></a>
    <h2>Editing Activity</h2>
    <% if organiser_signed_in? %>
    <div class='logout'>
        <h5>Welcome, <strong><%= current_organiser.email.split('@')[0].upcase! %></strong></h5>
        <%= link_to 'LOG OUT', destroy_organiser_session_url, method: :delete, class: "nav-button" %>
    </div>
    <% end %>
</nav>
<br/>
<div class='sort'>  
    <p><strong>< </strong>&nbsp; <%= link_to 'Back to previous', activities_path, class:'back-btn' %><p>
</div>
<br/>
<%= render 'form', activity: @activity %>

<%= stylesheet_link_tag "activities" %>
